@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@600&family=Lato&family=Markazi+Text:wght@600&family=Montserrat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Hepta+Slab:wght@500&family=Kreon:wght@600&family=Lato&family=Markazi+Text:wght@600&family=Montserrat&family=Roboto&family=Varta:wght@700&display=swap');

body {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
p {
  margin: 2px;
}
svg.MuiAvatar-fallback {
  height: 90%;
}

@media screen and (min-width:280px) {
  /*画面サイズが280pxからはここを読み込む*/
  p {
    font-size: 3.8vmin;
  }
  h1 {
    font-size: 5vmin;
  }
  h2 {
    font-size: 28px
  }
  td.MuiTableCell-sizeSmall {
    padding: 14px 6px 14px 16px;
  }
  th.scoreTable {
    font-size: 3vmin;
    padding-bottom: 2px;
    padding-Top: 2px;
    padding-left: 8px;
  }
  td.scoreTable {
    font-size: 3vmin;
    padding-bottom: 2px;
    padding-Top: 2px;
    padding-left: 8px;
  }
  li.MuiListItem-gutters {
    padding-right: 6px;
    padding-left: 6px;
  }
  span.MuiTypography-root {
    font-size: 3.8vmin;
  }
  span.MuiListItemText-primary {
    font-weight: 600
  }
  span.MuiFormControlLabel-label {
    font-size: 18px;
  }
  svg.MuiSvgIcon-fontSizeSmall {
    font-size: 2.9vmin;
  }
  div.MuiContainer-root {
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media screen and (min-width:680px) and ( max-width:1024px) {
  /*画面サイズが768pxから1024pxまではここを読み込む*/
  div.listItem {
    margin-right: 16px;
    margin-left: 16px;
  }
  span.MuiTypography-root {
    font-size: 1.8vmin;
  }
  th.scoreTable {
    font-size: 2vmin;
    padding-bottom: 3px;
    padding-Top: 3px;
    padding-left: 8px;
  }
  td.scoreTable {
    font-size: 1.8vmin;
    padding-bottom: 3px;
    padding-Top: 3px;
    padding-left: 8px;
  }
  span.MuiFormControlLabel-label {
    font-size: 24px;
  }
  h1 {
    font-size: 4.5vmin;
  }
  h4 {
    font-size: 2vmin;
  }
  p {
    font-size: 2.4vmin;
  }
}
@media screen and (min-width:1024px) {

  /*画面サイズが1024pxからはここを読み込む*/
  div.listItem {
    margin-right: 16px;
    margin-left: 16px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 27px;
  }
  p{
    font-size: 16px;
    margin: 2px;
  }
  span.MuiTypography-root {
    font-size: 1.8vmin;
  }
  th.scoreTable  {
    font-size: 16px;
    padding-bottom: 5px;
    padding-Top: 5px;
    padding-left: 16px;
  }
  td.scoreTable {
    font-size: 16px;
    padding-bottom: 0;
    padding-Top: 0;
    padding-left: 8px;
  }
  svg.MuiSvgIcon-fontSizeSmall {
    font-size: 20px;
  }
}
