@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@600&family=Lato&family=Markazi+Text:wght@600&family=Montserrat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Hepta+Slab:wght@500&family=Kreon:wght@600&family=Lato&family=Markazi+Text:wght@600&family=Montserrat&family=Roboto&family=Varta:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi&display=swap');

html {
  margin: 0;
}
body {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color: #f4f4f6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
p {
  margin: 2px;
}
h3 {
  margin-bottom: 8px;
}
svg.MuiAvatar-fallback {
  height: 90%;
}
div.container {
  text-align: center;
  margin: 120px auto 0
}
span.main-title {
  font-family: 'Patua One', cursive;
  font-size: 23px;
  cursor: pointer;
}
h1.match-title, h2.section-title{
  font-family: 'Pridi', serif;
}

@media screen and (min-width:280px) {
  /*画面サイズが280pxからはここを読み込む*/
  p {
    font-size: 4vmin;
  }
  h1 {
    font-size: 20px
  }
  h2.section-title {
    font-size: 28px
  }
  h4 {
    font-size: 14px;
  }
  td.MuiTableCell-sizeSmall {
    padding: 14px 6px 14px 16px;
  }
  th.scoreTable {
    padding-bottom: 4px;
    padding-Top: 4px;
    padding-left: 8px;
  }
  td.scoreTable {
    font-size: 15px;
    padding-bottom: 4px;
    padding-Top: 4px;
    padding-left: 8px;
  }
  li.MuiListItem-gutters {
    padding-right: 6px;
    padding-left: 6px;
  }
  li.MuiListItem-alignItemsFlexStart {
    padding-top: 5px;
    padding-bottom: 0;
  }
  span.MuiTypography-root {
    font-size: 14.5px;
  }
  span.MuiListItemText-primary {
    font-weight: 600
  }
  span.MuiFormControlLabel-label {
    font-size: 15px;
  }
  svg.MuiSvgIcon-fontSizeSmall {
    font-size: 14px;
  }
  svg.likeIcon {
    font-size: 1.17rem;
  }
  div.MuiContainer-root {
    padding-left: 6px;
    padding-right: 6px;
  }
  div.MuiListItemText-multiline {
    margin-bottom: 0;
  }
  label.MuiFormControlLabel-root {
    margin-right: 0;
  }
}
@media screen and (min-width:415px) {
  p {
    font-size: 16px
  }
  h1 {
    font-size: 22px
  }
  h4 {
    font-size: 15px;
  }
  svg.MuiSvgIcon-fontSizeSmall {
    font-size: 18px
  }
  svg.likeIcon {
    font-size: 1rem;
  }
  span.MuiTypography-root {
    font-size: 16px;
  }
  td.scoreTable {
    font-size: 15px;
  }
}
@media screen and (min-width:680px) and ( max-width:1024px) {
  div.listItem {
    margin-right: 16px;
    margin-left: 16px;
  }
  span.MuiTypography-root {
    font-size: 16px
  }
  th.scoreTable {
    padding-bottom: 3px;
    padding-Top: 3px;
    padding-left: 8px;
  }
  td.scoreTable {
    padding-bottom: 3px;
    padding-Top: 3px;
    padding-left: 8px;
  }
  span.MuiFormControlLabel-label {
    font-size: 16px;
  }
  h1 {
    font-size: 28px
  }
}
@media screen and (min-width:1024px) {
  div.listItem {
    margin-right: 16px;
    margin-left: 16px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 27px;
  }
  p{
    font-size: 16px;
    margin: 2px;
  }
  h4 {
    font-size: 16px;
  }
  span.MuiTypography-root {
    font-size: 16px;
  }
  th.scoreTable  {
    font-size: 16px;
    padding-bottom: 5px;
    padding-Top: 5px;
    padding-left: 16px;
  }
  td.scoreTable {
    font-size: 16px;
    padding-bottom: 0;
    padding-Top: 0;
    padding-left: 8px;
  }
  svg.MuiSvgIcon-fontSizeSmall {
    font-size: 20px;
  }
}
